:root {
  --maxWidth: 350px;
  --width: 350px;
  --backgroundColor: #333;
  --success: #28a745;
  --info: #007bff;
  --error: #dc3545;
  --borderRadius: 8px;
  --text: rgba(255, 255, 255, 0.8);
  --buttonHover: rgba(255, 255, 255, 0.15);
}

.snackbar {
  z-index: 1200 !important;
  position: fixed;
  display: flex;
  align-items: center;
  width: var(--width) !important;
  max-width: var(--maxWidth) !important;
  padding: 0.6rem !important;
  font-family: "Open Sans", sans-serif !important;
  background-color: var(--backgroundColor) !important;
  border-radius: var(--borderRadius) !important;
}

.snackbar.top-left {
  top: 1rem;
  left: 1rem;
}
.snackbar.bottom-left {
  left: 1rem;
  bottom: 1rem;
}
.snackbar.top-right {
  top: 1rem;
  right: 1rem;
}
.snackbar.bottom-right {
  right: 1rem;
  bottom: 1rem;
}
.snackbar .button-container {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  margin-left: 0.25rem;
}

.snackbar.snackbar-success .snackbar-icon,
.snackbar.snackbar-success .dismiss {
  color: var(--success) !important;
}
.snackbar.snackbar-info .snackbar-icon,
.snackbar.snackbar-info .dismiss {
  color: var(--info) !important;
}
.snackbar.snackbar-error .snackbar-icon,
.snackbar.snackbar-error .dismiss {
  color: var(--error) !important;
}

.snackbar-icon {
  margin-right: 0.75rem;
  font-size: 1.5rem;
  color: var(--success) !important;
}
.snackbar-text {
  font-size: 1rem;
  color: var(--text) !important;
}
.snackbar button {
  transition: 150ms;
  background-color: transparent;
  border: none !important;
  outline: none !important;
}
.snackbar button:hover {
  cursor: pointer;
  background-color: var(--buttonHover) !important;
}
.snackbar .dismiss {
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  color: var(--success) !important;
  border-radius: var(--borderRadius) !important;
}

@media (max-width: 689px) {
  .snackbar {
    max-width: unset;
    width: unset;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
  }
  /* Which style should we use for mobile devices? */
  /* .snackbar {
    left: 0;
    right: 0;
    bottom: 0 !important;
    border-radius: 0;
  } */
}
